<br>

<div>
	<img src="../images/menuimg.jpg">
</div>


<div>

	<table align="center" width="100%">
	
		<tr align="center">
		
		<td align="center"><h3>Shop All Category as you wish</h3></td>
		
		</tr>

		<tr align="center">

			<td>

				<table align="center">
				<tr>
					<td align="center">
						<a href="#product">
						<img src="../images/electronics.png">
						<br> 
						<b>Electronics</b> 
						</a>
					</td>
					<td align="center">
					<a href="#product">
						<img alt="" src="../images/fashion.png">
						<br> 
						<b>Fashion Sale</b>
						</a>
					</td>
				</tr>
				<tr>
					<td><br><br></td>
				</tr>
				<tr>
					<td align="center">
					<a href="#product">
						<img src="../images/beauty.png">
						<br> 
						<b>Personal Care</b>
						</a>
					</td>
					<td align="center">
					<a href="#product">
						<img src="../images/Home.png">
						<br> 
						<b>Home</b>
						</a>
					</td>
				</tr>
				</table>

			</td>

			<td>

				<img alt="" src="../images/withoutCOD.jpg">
				
			</td>

		</tr>

		</table>



</div>


<!-- 


<div class="container-fluid">




<center><div><b><h2><marquee behavior="alternate">Welcome!!! Successfully Logged In!!!</marquee></h2></b></div>


<br>
<br>
<br>
<br>
<br>
<br>

<button type="button"  data-ng-click="order()">Order</button><br><br>
<button type="button"  data-ng-click="shipping()">Shipping</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<font color= "red"><b><div>JWT Token</div></b></font>
<div ng-init ="showSuccess()">{{msg}}</div>
</center>

</div>






<br>
	



</div>




 -->